
.DS_Store
._*
.env
.env.*
*.bak
*.cache
*.csv
*.db
*.db-wal
*.log
*.lock
*.new
*.old
*.out
*.swap
*.swp
*.sublime-project
*.sublime-workspace
*.txt

.git/
.idea/
.vscode/
bin/
certs/
data/image/
data/thumb/
tmp/
vendor/

db_bingwp*.sql
