
.DS_Store
._*
*.bak
*.cache
*.log
*.lock
*.new
*.old
*.out
*.swap
*.swp
*.sublime-project
*.sublime-workspace
*.txt

.git/
.idea/
.vscode/
bin/
data/image/
data/thumb/
tmp/
vendor/

db_bingwp*.sql
settings.hcl
xg
