# Binaries
*.exe
*.dll
*.so
*.dylib
bin/

# Test files
test_*
*.db

# OS files
.DS_Store

# IDE
.idea/
.vscode/
.superpowers/
.codeartsdoer/

# Environment and config
.env*
bin/
certs/
data/
docs/
images/
thumbs/

# Database dumps
*.log
db_*.sql

# Artifacts
logs/
