debug = false

app "bingwp" {
    log_level = "info"
    log_file = "rotate://./logs/access.log?cycle=daily&comp=0"
}

conn "mysql" "default" {
    host = "127.0.0.1"
    database = "db_bingwp"
    username = "dba"
    password = "pass"
    log_file = "rotate://./logs/sql.log?cycle=daily&comp=0"
}

