debug = false
image_dir = "./data"

app {
    name = "BingWallPaper"
    version = "2.0.3"
}

log {
    log_level = "info"
    log_file = "rotate://./logs/access.log?cycle=daily&comp=0"
}

reverse "golang" {
    output_dir     = "./models"
    name_space     = "github.com/azhai/bingwp/models"
    table_prefix   = "t_"
    exclude_tables = ["*_bak", "*_test"]
}

conn "mysql" "default" {
    host = "127.0.0.1"
    database = "db_bingwp"
    username = "dba"
    password = "pass"
    log_file = "rotate://./logs/sql.log?cycle=daily&comp=0"
}
