<!doctype html>
<html lang="zh">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>Bing Wallpaper</title>
    <!-- CSS files -->
    <link href="./static/css/tabler.min.css" rel="stylesheet"/>
    <style rel="stylesheet">
      .card-note {text-align:left;overflow:hidden;text-overflow:ellipsis;}
      .card-date {text-align:right;min-width:30%;}
      @media (width>=1200px){
        .card-footer {font-size:.9em;}
      }
    </style>
  </head>
  <body class="layout-fluid theme-light">
    <div class="page">

      {{template "sub_header.tmpl" .}}

      <div class="page-wrapper">
        <div class="page-body" style="margin-bottom:0">
          <div class="container-xl">
            <div class="row row-cards">

              {{range .Rows}}
              <div class="col-sm-4 col-md-3 col-lg-2">
                <div class="card">
                  <a href="/wallpaper/{{.ImageUrl}}" target="_blank" class="d-block card-img">
                    <img src="/wallpaper/{{.ThumbUrl}}" title="{{.Title}}" class="card-img-top">
                  </a>
                  <div class="card-footer">
                    <div class="d-flex" style="height:2rem">
                      <div class="card-note">
                        <div>{{.Title}}</div>
                      </div>
                      <div class="card-date ms-auto">
                        <div class="text-mute">{{Date .BingDate}}</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              {{end}}
              
            </div>

          </div>
        </div>

        {{template "sub_footer.tmpl" .}}

      </div>

    </div>
    <!-- Libs JS -->
    <!-- Tabler Core -->
    <script src="./static/js/tabler.min.js" defer></script>
  </body>
</html>
