<!doctype html>
<html lang="zh">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>Bing Wallpaper</title>
    <!-- CSS files -->
    <link href="./static/css/tabler.min.css" rel="stylesheet"/>
    <link href="./static/css/tabler-flags.min.css" rel="stylesheet"/>
    <link href="./static/css/tabler-payments.min.css" rel="stylesheet"/>
    <link href="./static/css/tabler-vendors.min.css" rel="stylesheet"/>
    <link href="./static/css/demo.min.css" rel="stylesheet"/>
  </head>
  <body class="layout-fluid theme-light">
    <div class="page">

      <header class="navbar navbar-expand-md navbar-light d-print-none">
        <div class="container-xl">
          <div class="navbar-nav flex-row order-md-last">
            <h1 class="navbar-brand navbar-brand-autodark d-none-navbar-horizontal pe-0 pe-md-3">
              <a href=".">
                <img src="./static/logo.svg" width="110" height="32" alt="Tabler" class="navbar-brand-image">
              </a>
            </h1>
            <ul class="navbar-nav">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#navbar-base" data-bs-toggle="dropdown" data-bs-auto-close="outside" role="button" aria-expanded="false" >
                  <span class="nav-link-icon d-md-none d-lg-inline-block">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-calendar" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                       <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                       <rect x="4" y="5" width="16" height="16" rx="2"></rect>
                       <line x1="16" y1="3" x2="16" y2="7"></line>
                       <line x1="8" y1="3" x2="8" y2="7"></line>
                       <line x1="4" y1="11" x2="20" y2="11"></line>
                       <line x1="11" y1="15" x2="12" y2="15"></line>
                       <line x1="12" y1="15" x2="12" y2="18"></line>
                    </svg>
                  </span>
                  <span class="nav-link-title">{{.Year}}年</span>
                </a>
                <div class="dropdown-menu">
                  <div class="dropdown-menu-columns">
                    <div class="dropdown-menu-column">
                      <a class="dropdown-item" href="/2030{{.Month}}">2030</a>
                      <a class="dropdown-item" href="/2028{{.Month}}">2028</a>
                      <a class="dropdown-item" href="/2026{{.Month}}">2026</a>
                      <a class="dropdown-item" href="/2024{{.Month}}">2024</a>
                      <a class="dropdown-item" href="/2022{{.Month}}">2022</a>
                      <a class="dropdown-item" href="/2020{{.Month}}">2020</a>
                      <a class="dropdown-item" href="/2018{{.Month}}">2018</a>
                      <a class="dropdown-item" href="/2016{{.Month}}">2016</a>
                      <a class="dropdown-item" href="/2014{{.Month}}">2014</a>
                      <a class="dropdown-item" href="/2012{{.Month}}">2012</a>
                      <a class="dropdown-item" href="/2010{{.Month}}">2010</a>
                    </div>
                    <div class="dropdown-menu-column">
                      <a class="dropdown-item" href="/2029{{.Month}}">2029</a>
                      <a class="dropdown-item" href="/2027{{.Month}}">2027</a>
                      <a class="dropdown-item" href="/2025{{.Month}}">2025</a>
                      <a class="dropdown-item" href="/2023{{.Month}}">2023</a>
                      <a class="dropdown-item" href="/2021{{.Month}}">2021</a>
                      <a class="dropdown-item" href="/2019{{.Month}}">2019</a>
                      <a class="dropdown-item" href="/2017{{.Month}}">2017</a>
                      <a class="dropdown-item" href="/2015{{.Month}}">2015</a>
                      <a class="dropdown-item" href="/2013{{.Month}}">2013</a>
                      <a class="dropdown-item" href="/2011{{.Month}}">2011</a>
                      <a class="dropdown-item" href="/2009{{.Month}}">2009</a>
                    </div>
                  </div>
                </div>
              </li>
              <li class="nav-item active dropdown">
                <a class="nav-link dropdown-toggle" href="#navbar-extra" data-bs-toggle="dropdown" data-bs-auto-close="outside" role="button" aria-expanded="false" >
                  <span class="nav-link-icon d-md-none d-lg-inline-block">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-calendar-time" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                       <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                       <path d="M11.795 21h-6.795a2 2 0 0 1 -2 -2v-12a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v4"></path>
                       <circle cx="18" cy="18" r="4"></circle>
                       <path d="M15 3v4"></path>
                       <path d="M7 3v4"></path>
                       <path d="M3 11h16"></path>
                       <path d="M18 16.496v1.504l1 1"></path>
                    </svg>
                  </span>
                  <span class="nav-link-title">{{.Month}}月</span>
                </a>
                <div class="dropdown-menu">
                  <div class="dropdown-menu-columns">
                    <div class="dropdown-menu-column">
                      <a class="dropdown-item" href="/{{.Year}}12">12</a>
                      <a class="dropdown-item" href="/{{.Year}}10">10</a>
                      <a class="dropdown-item" href="/{{.Year}}08">8</a>
                      <a class="dropdown-item" href="/{{.Year}}06">6</a>
                      <a class="dropdown-item" href="/{{.Year}}04">4</a>
                      <a class="dropdown-item" href="/{{.Year}}02">2</a>
                    </div>
                    <div class="dropdown-menu-column">
                      <a class="dropdown-item" href="/{{.Year}}11">11</a>
                      <a class="dropdown-item" href="/{{.Year}}09">9</a>
                      <a class="dropdown-item" href="/{{.Year}}07">7</a>
                      <a class="dropdown-item" href="/{{.Year}}05">5</a>
                      <a class="dropdown-item" href="/{{.Year}}03">3</a>
                      <a class="dropdown-item" href="/{{.Year}}01">1</a>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
          <div class="navbar-nav flex-row order-md-last">
            <ul class="navbar-nav">
              <li class="nav-item d-none d-md-flex me-3">
                <div class="btn-list">
                  <a href="https://github.com/azhai/bingwp" class="btn" target="_blank" rel="noreferrer">
                    <!-- Download SVG icon from http://tabler-icons.io/i/brand-github -->
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M9 19c-4.3 1.4 -4.3 -2.5 -6 -3m12 5v-3.5c0 -1 .1 -1.4 -.5 -2c2.8 -.3 5.5 -1.4 5.5 -6a4.6 4.6 0 0 0 -1.3 -3.2a4.2 4.2 0 0 0 -.1 -3.2s-1.1 -.3 -3.5 1.3a12.3 12.3 0 0 0 -6.2 0c-2.4 -1.6 -3.5 -1.3 -3.5 -1.3a4.2 4.2 0 0 0 -.1 3.2a4.6 4.6 0 0 0 -1.3 3.2c0 4.6 2.7 5.7 5.5 6c-.6 .6 -.6 1.2 -.5 2v3.5" /></svg>
                    Source code
                  </a>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </header>

      <div class="page-wrapper">
        <div class="page-body" style="margin-bottom:0">
          <div class="container-xl">
            <div class="row row-cards">
              {{range .Rows}}
              <div class="col-sm-4 col-lg-3">
                <div class="card card-sm">
                  <a href="#" class="d-block">
                    <img src="/wallpaper/{{.Thumb}}" class="card-img-top" style="height:200px">
                  </a>
                  <div class="card-body">
                    <div class="d-flex align-items-center" style="height:2rem">
                      <div>
                        <div>{{.Title}}</div>
                      </div>
                      <div class="ms-auto" style="width:30%;text-align:right">
                        <div class="text-mute">{{Date .BingDate}}</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              {{end}}
            </div>

          </div>
        </div>

        <footer class="footer footer-transparent d-print-none" style="padding:0.5rem">
          <div class="container-xl">
            <div class="row text-center align-items-center flex-row-reverse">
              <div class="col-lg-auto ms-lg-auto">
                <!-- The placeholder of right -->
              </div>
              <div class="col-12 col-lg-auto mt-3 mt-lg-0">
                Copyright &copy; 2022 All rights reserved.
              </div>
            </div>
          </div>
        </footer>

      </div>

    </div>
    <!-- Libs JS -->
    <!-- Tabler Core -->
    <script src="./static/js/tabler.min.js" defer></script>
    <script src="./static/js/demo.min.js" defer></script>
  </body>
</html>
